{% load static %}
/* Стили для экранов с шириной от 600px до 900px */
@media screen and (max-width: 900px) {
    .main-container{
        width: 100%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .main-container{
        width: 80%;
    }
}

@media screen and (min-width: 1200px){
    .main-container{
        width: 65%;
    }
}

.main-container{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

body{
    font-weight: 480;
    font-size: 18px;
    height: 100vh;
    width: 100%;

    background-size: cover; /* чтобы изображение заполняло весь фон */
    background-repeat: no-repeat; /* чтобы изображение не повторялось */
    background-position: center top; /* центрируем изобра
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.about{
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}


